page-perfil {
    .subtitle-card {
        font-size: 1.2rem;
    }

    .imagemConteiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
