page-perfil-qualquer {
    .subtitle-card {
        font-size: 1.2rem;
    }

    .imagemConteiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconePiu:active {
        color: #8f399a;
        background-color: white;
    }

    .iconePiu {
        background-color: #8f399a;
    }

    .itemMenu {
        color: #8f399a;
    }

    .menuTitulo {
        color: #8f399a;
    }

    .titulo {
        color: #8f399a;
    }

    .botaoMenu {
        color: #8f399a;
    }

    .scroll-content {
        padding: 0;
    }

    .list {
        width: 100%;
    }

    .feed {
        color: black;
    }

    .content {
        background-color: white;
    }

    .piu {
        color: black;
        width: 100%;
        border-bottom: 0.01rem solid #8f399a;
    }

    h2 {
        margin: 0;
    }

    .informacoesPerfil p {
        margin-top: 0;
    }

    .informacoesPerfil {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .username {
        margin-left: 1rem;
    }

    .username:active {
        color:  #8f399a;
    }
}
